%h4 New Player
%form{action: "/events/#{@event.id}/players", method: 'post', 'accept-charset' => 'UTF-8'}
  .field
    %label Name
    %input#player_name{type: 'text', name: 'player[name]'}
  .field.prepend-top
    %label Email
    %input#player_email{type: 'text', name: 'player[email]'}
  .field.prepend-top
    %input{name: 'commit', type: 'submit', value: 'Create Player'}
    %a.cancel-link{href: "/events/#{@event.id}"} Cancel
