%h4 New Player
%form{action: "/events/#{@event.id}/players", method: 'post', 'accept-charset' => 'UTF-8'}
  %label Name
  %input#event_title{type: 'text', name: 'player[name]'}
  %br
  %br
  %input{name: 'commit', type: 'submit', value: 'Create Player'}
