#events
  %h3 Events List
  %a{href: '/events/new'} New
  %p
  %table.list
    %thead
      %th Name
      %th Live?
      %th
    %tbody
      - @events.each do |event|
        %tr[event]
          %td
            %a{href: "/events/#{event.id}"}= event.title
          %td.text-center= event.is_live? ? 'Yes' : 'No'
          %td
            - unless event.is_live?
              %a.make_live{href: "/events/#{event.id}/make_live", data: { method: 'post', confirm: 'Are you sure?' }} Make Live
