%h4 New Event
%form{action: '/events', method: 'post', 'accept-charset' => 'UTF-8'}
  %label Title
  %input#event_title{type: 'text', name: 'event[title]'}
  %br
  %br
  %input{name: 'commit', type: 'submit', value: 'Create Event'}
  %a.cancel-link{href: "/events"} Cancel
  