#events
  %h3 Events
  %a{href: '/events/new'} New
  %p
  %table
    %thead
      %th Name
      %th Live?
      %th
    %tbody
      - @events.each do |event|
        %tr[event]
          %td
            %a{href: "events/#{event.id}"}= event.title
          %td= event.is_live? ? 'Yes' : 'No'
          %td
            %a.make_live{href: '#'} Make Live
