!!! 5
%html{lang: 'en'}
  %head
    %title Give A Puck
    %link{href: 'https://fonts.googleapis.com/css?family=Fjalla+One', rel: 'stylesheet'}
    = assets(:css)
    %script{src: '//code.jquery.com/jquery-3.1.1.min.js', integrity: 'sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin: 'anonymous'}
    = assets(:js)
    - if @page_refresh
      %meta{'http-equiv' => 'refresh', content: [@page_refresh.to_i, 1].max}
  %body
    #title{title: 'Home'}
      %a{href: '/'} Give A Puck!
    #wrapper
      = partial 'layouts/flash'
      = yield
