body {
  font-family:Helvetica, Arial, etc;
  margin: 0;
	background: #000;
	color: #fff;

  #title_link {
    text-decoration: none;

    #title {
    	border-bottom: 3px solid #fff;
    	font-size: 3em;
    	font-weight: bold;
    	padding: 4px;
    	text-align: center;
    	text-transform: uppercase;
    	color: yellow;
    	font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
    }
  }
  #wrapper {
    margin: 8px;

    input[type=text] {
      width: 200px;
    }
  }

  a { color: red; }
}

// -- start scoreboard styling --
#live_games {
  #next_game_wrapper {
    margin-top: 1em;

    .create-game a {
      background: red;
    	color: white;
    	padding: .4em 2.5em;
    	display: inline-block;
    	text-decoration: none;
    }
  }

  .game {
  	border: 1px solid black;
    padding: 0.25em;
  	width: 100%;
  	box-sizing: border-box;

    .title {
      font-size: 1.3em;
      font-weight: bold;
      border-bottom: 1px dotted black;
      margin-bottom: 10px;
    }

    &.proposed {
      background-color: #0A3E89;

      .kick-link {
        margin-top: 6px;
        font-size: 16px;
      }
    }
  //  &.unstarted { background-color: yellow; }
    &.started { background-color: #5DB518; }
    &.finished {
      color: black;
      animation-duration: 1s;
      animation-name: blink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      background-color: #F79B8D;

      @keyframes blink {
         from {
            background-color: #F79B8D;
         }
         to {
            background-color: white;
         }
       }
    }

    .player {
      width: 47%;
      font-size:18px;
    }
    .vs {
      padding-top: 10px;
      width: 6%;
    }

    .time-remaining {
      margin-top: 10px;
      font-size: 16px;
    }
    .form_wrapper {
      .score {
        width: 50%;

        input[type=number] {
          width: 70%;
          font-size: 16px;
        }
      }
      .submit_wrapper {
        input[type=submit] {
          background:red;
          border: 0;
          color: black;
          display:block;
        	font-size: 1em;
        	background-color: yellow;
        	display: inline;
        	margin-top: 1em;
          padding: .4em 2.5em;
          text-transform: uppercase;
        }
      }
    }
  }
}
// -- end scoreboard styling --
// -- events#show --
table.list{
	width:100%;
	text-transform: uppercase;
	font-size: 130%;
	font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
}

table.list tr{
  th {
    font-size:120%;
    color:#F9D523;
  }
  td {
    font-size: 120%;

    &:first-of-type { width: 4%; }
    &:nth-of-type(6) { width:10%; }
    &:last-of-type { width:12%; }

    &.pad-2 { padding: 2px; }
    &.bg-red { background: red; }
    &.bg-green { background: #33CC33; }
  }
}
table.list a{font-size:70%;background:#0A3E89; display:block; padding:.7em 0;width:100%;text-align: center;color: white;text-decoration: none;box-sizing:border-box;}

@media (max-width: 480px) {
	table.list{font-family:Helvetica, Arial, sans-serif;font-size: 80%}
	table.list a{padding:5px;}
	
	.game .player{font-size:18px;}
	.game .form_wrapper .score input[type="number"]{font-size:18px}
}
// -- end events#show --


.text-center { text-align: center; }
.text-left   { text-align: left;   }
.text-right  { text-align: right;  }

.left  { float: left; }
.right { float: right; }
.clear { clear: both; }

/* Nice to have for putting space above or below objects */
.prepend-top-sm   { margin-top: 0.75em; }
.append-bottom-sm { margin-bottom: 0.75em; }
//.prepend-top   { margin-top: 1.5em; }
.append-bottom { margin-bottom: 1.5em; }
.prepend-left  { margin-left: 1.5em; }
.append-right  { margin-right: 1.5em; }

.prepend-top {
  a { text-transform: uppercase; }
}

.prepend-top.links {
	margin-top:1.5em;
	display: inline;
	margin-right: 1em;
}


/* --- Form scaffolding --- */
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  color: black;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* For displaying flash notifications */
#flash_notifications,
.flash_notifications {
  padding: 20px 30px 0;

  .error,
  .notice,
  .success,
  .alert,
  .info	{ padding: 0.8em !important; margin-bottom: 1em; border: 2px solid #DDD; }

  .error      { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4 !important; }
  .notice,
  .alert      { background: #fff6bf; color: #514721; border-color: #ffd324 !important; }
  .success    { background: #e6efc2; color: #264409; border-color: #c6d880 !important; }
  .info       { background: #d5edf8; color: #205791; border-color: #92cae4 !important; }
  .error a    { color: #8a1f11; }
  .notice a,
  .alert a    { color: #514721; }
  .success a  { color: #264409; }
  .info a     { color: #205791; }
}